/* Navigation Section */
.top-navigation {
    background-color: white;
}

.top-navigation > .content {
    width: 770px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;
}

.content {
    margin-top: 25px;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 600;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333;
}

html {
    background: url(http://thinkful-ed.github.io/karma-clone/img/first-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}

.content > h1,
.content > h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.content h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.content h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}